{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:functional/recommended",
    "prettier",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json", "./tsconfig.web.json", "./tsconfig.node.json"],
  },
  "plugins": ["react", "@typescript-eslint", "functional"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "functional/no-let": "off",
    "functional/no-loop-statements": "off",
    "functional/immutable-data": "off",
    "functional/functional-parameters": "off",
    "functional/no-this-expression": "off",
    "functional/no-expression-statements": "off",
    "functional/no-classes": "off",
    "functional/prefer-readonly-type": "off",
    "functional/no-return-void": "off",
    "functional/no-mixed-types": "off",
    "functional/prefer-immutable-types": "off",
    "functional/no-conditional-statements": "off",
    "functional/no-throw-statements": "off",
    "react/prop-types": "off",
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
